@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}


body {
    background: url(imagens/fundo.jpeg) no-repeat top center;
    background-size: 1200px;
    background-attachment: fixed;
    
}

main {
    height: 100vh;
    position: relative;
    
}

section#telefone {
    height: 620px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background: url(imagens/celular.png) no-repeat;
    background-size: contain;
    
    
}

iframe#tela {
    position: relative;
    top: 85px;
    left: 58px;
    width: 249px;
    height: 430px;
    border-radius: 2px;
}